* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header{
    background-image: url("../img/bokeh.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 180px;
    position: sticky;
    top: 0;
    z-index: 2;
}


.header__logo{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.header__list{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;
}

.header__li{
    display: inline-block;
    margin-left: 10px;
}

.header__libag{
    display: inline-block;
    font-size: 25px;
    margin-left: 970px;
}

.header__libag--link{
    color: #98C9A3;
}

.header__li a{
    text-decoration: none;
    color: #98C9A3;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.header__bag{
    color: #98C9A3;
    font-size: 20px;
}
/* MAIN */

.main{
    width: 100vw;
    padding-top: 10px;
    background-color: #DDE7C7;
}

.main__imagenes{
    padding-left: 140px;
    padding-right: 50px;
}

.main__img{
    width: 30%;
    padding-right: 10px;
}

.main__novedades{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 130px;
}

.main__h2{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #59B18F;
}

.main__h3{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: #59B18F;
}

.main__marsha{
    width: 400px;
    height: auto;
    display: inline-block;
    padding-left: 30px;
}

.main__gem{
    width: 400px;
    height: auto;
    display: inline-block;
    padding-left: 30px;
}

.main__cher{
    width: 400px;
    height: auto;
    display: inline-block;
    padding-left: 30px;
}

.main__novedadesimg{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.main__precio{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #59B18F;
}

.main__agregar{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #3B7D64;
}

.main__cita{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    background-image: url("../img/flores1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main__p{
    padding-left: 30px;
    padding-right: 400px;
}

.main__p2{
    padding-left: 400px;
}


/* FOOTER */

.footer{
    width: 100vw;
    background-color: #3B7D64;
}

.footer__logo{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: inline-block;
}

.footer__horarios{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    color: #98C9A3;
    padding-left: 50px;
    padding-right: 25px;
}

.footer__redes{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    color: #98C9A3;
}

.footer__link{
    display: block;
    text-decoration: none;
    color: #98C9A3;
}

.footer__copyright{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #98C9A3;
    padding-bottom: 10px;
}


/* MAIN PRODUCTOS */
.productos {
    background-color: #DDE7C7;
    width: 100vw;
}

.productos__h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #59B18F;
    padding-left: 30px;
    padding-top: 20px;
}

.productos__div{
    margin-left: 8%;
}

.productos__categoria {
    width: 400px;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
}

.productos__categoria a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 30px;
    color: #59B18F;
}

.productos__categoria a img {
    width: 100%;
    height: auto;
}


/* MAIN GALERIA */

.galeria{
    background-color: #DDE7C7;
    padding-bottom: 2rem;
    width: 100vw;
}

.galeria__h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #59B18F;
}

.galeria__imagen{
    width: 300px;
    height: auto;
    display: inline-block;
}

.galeria__imagen img{
    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.galeria__accesorios{
    display: block;
    padding-left: 8rem;
    padding-right: 8rem;
}

/* MAIN CUIDADOS */

.cuidados{
    height: 100vh;
    background-color: #DDE7C7;
}

.cuidados__h1{
    font-family: 'Playfair Display', serif;
    padding-left: 30px;
    padding-top: 30px;
    color:#59B18F;
    font-size: 50px;
}

.cuidados__p{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 300px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.cuidados__list{
    list-style: circle;
    padding-left: 50px;
    padding-right: 250px;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.cuidados__li{
    padding-top: 20px;
}

/* MAIN CONTACTO */

.contacto{
    background-color: #DDE7C7;
}

.contacto__h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    color: #59B18F;
    padding-top: 20px;
}

.contacto__form{
    padding-left: 30px;
    border: solid 3px #3B7D64;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
}

.contacto__label {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #3B7D64;
}

.contacto__input{
    border-radius: 5px;
    border-color: #3B7D64;
    height: 30px;
    width: 250px;
}

.contacto__checkbox{
    padding-top: 20px;
    font-family: 'Playfair Display',
    serif;
    font-size: 20px;
    color: #3B7D64;
}

.contacto__mensaje{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #3B7D64;
}

.contacto__mensaje textarea{
    border-radius: 5px;
    border-color: #3B7D64;
}

.botones__contacto {
    display: inline-block;
    padding-bottom: 20px;
}

.botones__contacto input{
    margin-right: 20px;
    background-color: #BFD8BD;
    padding: 10px;
    border: 3px solid #3B7D64;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #3B7D64;
}

.form {
    padding-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

/* MAIN ANILLOS, AROS Y COLLARES (ACCESORIOS) */

.accesorios{
    background-color: #DDE7C7;
    width: 100vw;
}

.accesorios__h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #59B18F;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.accesorios__card{
    height: 45rem;
    width: 30rem;
    display: inline-block;
    padding-left: 4rem;
    /* padding-right: 2.5rem; */
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

.accesorios__h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #59B18F;
    padding-bottom: 1rem;
    /* padding-left: 2rem; */
    text-align: center;
}

.accesorios__card img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.accesorios__precio{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #59B18F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.accesorios__agregar{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #59B18F;
    border: none;
    background-color: #DDE7C7;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.accesorios__agregar:hover{
    color: #356E58;
}